/* Add your custom styles here */

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  .fixed-message {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #322867;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
 /* Existing CSS styles */
/* Existing CSS styles */
.chat.response {
  margin: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
  color: #333 !important; /* Set text color to dark gray */
}
.chat.response span {
  font-size: 16px;
}


  
  body{
    width: 100%;
    height: 100vh;
    background-color: #002244;
  }
  /* Add your custom styles here */
  .navbar {
    background-color: #001122;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .navbar image{
    padding: 5px;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 1; 
  }
  
  .dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #09468287;
    min-width: 160px;
    z-index: 2; 
  }
  
  .messagebar {
    z-index: 0; 
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #09468287;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    max-height: fit-content;
  }
  
  .topic {
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top:15px;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }
  
  .icons i {
    color: white;
    margin-left: 10px;
    cursor: pointer;
  }
  
  
  
  /* Add your custom styles here */
  .chat{
    display: flex;
    gap: 20px;
    padding: 25px;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
  
  }
  
  .chat img{
    width: 35px;
    height: 35px;
  }
  
  .response{
    background-color: #494b59;
  }
  
  .messagebar{
    position: fixed;
    bottom: 0;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #494b59;
    background-color: #002244;
  }
  
  .messagebar .bar-wrapper{
    background-color: #494b59;
    border-radius: 5px;
    width: 60vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .bar-wrapper input{
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    background: none;
    color: #ccc;
  }
  
  .bar-wrapper input::placeholder{
    color: #ccc;
  }
  
  .messagebar button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .message-box{
   
    overflow-y: auto;
  }

  